<div class="modal fade" id="askTimeModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Wann willst du los?</h4>
      </div>
      <div class="modal-body">
        <button {{action 'attend' '11:30'}} class="btn btn-default btn-sm">11:30</button>
        <button {{action 'attend' '11:45'}} class="btn btn-default btn-sm">11:45</button>
        <button {{action 'attend' '12:00'}} class="btn btn-primary btn-sm">12:00</button>
        <button {{action 'attend' '12:15'}} class="btn btn-default btn-sm">12:15</button>
        <button {{action 'attend' '12:30'}} class="btn btn-default btn-sm">12:30</button>
        <button {{action 'attend' '12:45'}} class="btn btn-default btn-sm">12:45</button>
        <button {{action 'attend' '13:00'}} class="btn btn-default btn-sm">13:00</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12 col-md-offset-3">
    {{#if infoMessage}}
      <div class="alert alert-info">{{infoMessage}}</div>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-12">
    {{places-list model=model.placesLeft highlightedPlace=highlightedPlace selectedPlace=currentPlaceForModal}}
  </div>
  <div class="col-md-3 col-xs-12">
    {{places-list model=model.placesRight highlightedPlace=highlightedPlace selectedPlace=currentPlaceForModal}}
  </div>
  <div class="col-md-6 col-xs-12">
    {{places-map places=model.allPlaces hoveredPlace=highlightedPlace}}
  </div>
</div>

<div class="row top-space">
  <div class="col-md-4">
    <button {{action 'withdraw'}} class="btn btn-primary btn-xs">Trag mich aus</button>
    <button {{action 'changeName'}} class="btn btn-primary btn-xs">Ändere meinen Namen</button>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-2">
    <a class="btn btn-primary btn-xs" href="https://github.com/pogopaule/planlunch-client" target="_blank"> <i class="fa fa-github"></i> Client</a>
    <a class="btn btn-primary btn-xs" href="https://github.com/pogopaule/planlunch-server" target="_blank"> <i class="fa fa-github"></i> Server</a>
  </div>
</div>
