{{ask-time-modal attend="attend" place=currentPlaceForModal}}

{{unauthorized-message isUnauthorized=unauthorized}}






<!--- Login and branding -->
<header>
    <div id="horizontal-border">
        <div class=".top-fix" id="Rahmen">
            <div id="branding">
                <H1>eat together</H1>
            </div>


            <div id="account">
                <button {{action 'withdraw'}} class="btn btn-primary btn-sm">Trag mich aus</button>
        {{#link-to 'login' class="btn btn-primary btn-sm"}}Login{{/link-to}}
        {{#link-to 'signup' class="btn btn-primary btn-sm"}}Neues Konto{{/link-to}}
            </div>


            <div id="content_">
                <div id="map">
                    {{outlet}}
                </div>
            </div>

        </div>
    </div>
        

    
</header>
    

<!-- List of locations -->

    
    
    <div id="list-restaurants">
        {{places-list model=model.allPlaces highlightedPlace=highlightedPlace selectPlace="selectPlace"}}
    </div>
    
    



<!-- Copyright informations etc. -->
<footer>

</footer>