<div class="modal fade" id="askTimeModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Wann willst du los?</h4>
      </div>
      <div class="modal-body">
        <button {{action 'attend' '11:30'}} class="btn btn-default btn-sm">11:30</button>
        <button {{action 'attend' '11:45'}} class="btn btn-default btn-sm">11:45</button>
        <button {{action 'attend' '12:00'}} class="btn btn-primary btn-sm">12:00</button>
        <button {{action 'attend' '12:15'}} class="btn btn-default btn-sm">12:15</button>
        <button {{action 'attend' '12:30'}} class="btn btn-default btn-sm">12:30</button>
        <button {{action 'attend' '12:45'}} class="btn btn-default btn-sm">12:45</button>
        <button {{action 'attend' '13:00'}} class="btn btn-default btn-sm">13:00</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 bottom-space">
    <button {{action 'withdraw'}} class="btn btn-primary btn-xs">Trag mich aus</button>
    {{currentPlace.name}}
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-xs-12">
    <ul class="list-unstyled hover">
      {{#each place in model}}
        {{#hover-place place=place hoveredPlace=highlightedPlace}}
          <div class="title-bar">
            {{#if place.website}}
              <a title="Internetseite/Mittagskarte in neuem Tab öffnen" target="_blank" href="{{unbound place.website}}">
                {{unbound place.name}}
              </a>
            {{else}}
              <span>{{unbound place.name}}</span>
            {{/if}}
            <span class="add" {{action 'setCurrentPlaceForModal' place}} data-toggle="modal" data-target="#askTimeModal" title="Trag mich ein">+</span>
          </div>
          <ul class="list-inline left-space">
            {{#each timeSlot in place.time_slots}}
              <li class="time-slot">{{timeSlot.time}}<br /> {{timeSlot.users}}</li>
            {{/each}}
          </ul>
        {{/hover-place}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-7 col-xs-12">
    {{places-map places=model hoveredPlace=highlightedPlace}}
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-md-offset-5">
    <iframe src="http://ghbtns.com/github-btn.html?user=pogopaule&repo=planlunch-client&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=pogopaule&repo=planlunch-server&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
  </div>
</div>
